* {
    margin: 0;
    padding: 0;
    /* font-family: 'Times New Roman', Times, serif; */
}

body {
    background-color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 500px;

}

/* Header section */
.header {
    background-color: brown;
    margin-bottom: 30px;
}

nav {
    display: flex;
    padding: 1% 3%;
    /* justify-content: space-between; */
    align-items: center;

}

nav img {
    width: 68px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style-type: none;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* header section ends */


/* middle section one  */
.lft-side {
    /* flex-basis: 43%; */
    flex-grow: 1;
    color: brown;
    padding-left: 20px;
    padding-bottom: 30px;
}

.container-div {
    width: 200px;
    height: 70px;
    padding: 20px;
    position: absolute;
    flex-direction: column;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* transition: all 0.2s ease-in-out; */
}

/* .container-div:hover {
    transform: scale(1.1);
} */

.div-1 {
    left: 10px;
}

.div-2 {
    left: 300px;
}

.div-3 {
    left: 10px;
    top: 330px;
}

.div-4 {
    left: 300px;
    top: 330px;
}

.div-5 {
    left: 10px;
    top: 450px;
}

.div-6 {
    left: 300px;
    top: 450px;
}

.div-7 {
    left: 10px;
    top: 570px;
}

.div-8 {
    left: 300px;
    top: 570px;
}

.div-9 {
    left: 300px;
    top: 690px;
}

.div-10 {
    left: 10px;
    top: 690px;
}


.container-div{
    height: 40px;
    margin-right: 80%;
    border-radius: 30%;
    text-align: center;
    display: flex;
    flex-direction: row;
}


/* middle section one ends */

/* middle section two  */
.ryt-side {
    position: absolute;
    left: 570px;
    top: 50px;
    z-index: -1;
}

.ryt-side img{
    width: 100%;
    height: 1000px;
}


/* middle section two ends */